<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Get Current Weather</title>
        <meta name="description" content="Get the current weather">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="btn-container">
            <button class="btn-weather">
                Get Weather
            </button>
        </div>
        <div class="outer-wrapper" style='display: none;'>
            <div class="inner-wrapper">
                <header  class='container'>
                    <div class="header-content">
                        <div class="city"></div>
                        <div class="temp"></div>
                        <div class="desc"></div>
                    </div>
                    <h3>Thursday</h3>
                </header>
                <section class="content">
                    <ul>
                        <li>
                            <div class="day">Monday</div>
                            <div class="detail">Light Rain</div>
                        </li>
                    </ul>
                </section>
            </div>
        </div>







        <script >
              function _fn(id){
                    return document.querySelector(id);
                }

                /*******Geo Location******/
                
                _fn('.btn-weather').addEventListener('click',getLoc);
                function getLoc(){
                    _fn('.btn-container').innerHTML="<h1>Loading...</h1>";
                    if(navigator.geolocation){
                        navigator.geolocation.getCurrentPosition(pos=>{
                            let lat = pos.coords.latitude.toFixed(2);
                            let long = pos.coords.longitude.toFixed(2);
                            const uri = `/weather/?&lat=${lat}&lon=${long}`;
                            fetch(uri,{
                                method:'POST',
                            })
                            .then(res=>res.json())
                            .then(data=>{
                                _fn('.btn-container').style.display='none';
                                const _d= data.newData;
                                console.log(_d);
                                _fn('.outer-wrapper').style.display='block';
                                _fn('.header-content .city').innerHTML=_d.location;
                                _fn('.header-content .temp').innerHTML= _d.current.temp+`<sup>&deg;</sup><img width='50' src='http://openweathermap.org/img/wn/${_d.current.weather[0].icon}@2x.png'></img>`;
                                _fn('.header-content .desc').innerHTML= _d.current.weather[0].description;

                                /******Forecast Temperature List*******/
                                const dateArr = _d.daily.slice(1);
                                const ul = _fn('section.content ul');
                                ul.innerHTML ="";
                                dateArr.forEach(e=>{
                                    const newArr = new Date(parseInt(e.dt)*1000).toString().split(' ')
                                    const day = newArr[0];
                                    const month= newArr[1];
                                    const date= newArr[2];
                                    const weatherDesc = e.weather[0].description;
                                    const icon = e.weather[0].icon;

                                    ul.innerHTML +=`<li>
                                                        <div class="day">${day}, ${month} ${date}</div>
                                                        <div class="detail"><img width='40' src='http://openweathermap.org/img/wn/${icon}@2x.png'></img>${weatherDesc}</div>
                                                    </li>`
                                })
                            })
                            .catch(err=>console.log(err))
                        })
                    }
                }  
        </script>
    </body>
</html>